@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap");

html {
  background-color: #f8f8f9;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header {
  display: flex;
  background-color: #6e76a2;
  padding: 1rem 1rem;
  font-family: roboto condensed;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.NavItems {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.NavBar a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
}

.NavBar a:hover {
  opacity: 0.8;
}

.ContactMe {
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 0.5rem;
  color: #424459;
  transition: 0.25s;
}

.ContactMe:hover,
.ContactMe:focus {
  box-shadow: inset 0 -3.25em 0 0 #424459;
  color: whitesmoke;
}

.Main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  gap: 10rem;
}

.MainContent {
  width: 60%;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424459;
  color: whitesmoke;
  gap: 0.5rem;
}

/* .Footer a:hover {
  opacity: 0.8;
} */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ProjectsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ProjectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.ProjectContent a {
  text-align: center;
}

.ProjectContent img {
  width: 60%;
  height: 60%;
  border-radius: 1rem;
}

.ProjectContent img:hover {
  opacity: 0.8;
}

.InterestsRow {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.InterestContent {
  display: grid;
  grid-template-areas:
    "image title"
    "image description";
}

.InterestContent > img {
  grid-area: image;
}

.InterestContent > h3 {
  grid-area: title;
}

.InterestContent > p {
  grid-area: description;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .Main {
    width: 100%;
    margin-left: 0;
  }
  .MainContent {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
